<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
	{%block headerextend%}{%endblock headerextend%}
	<script src="/static/js/jquery-3.4.1-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<style>
		body{margin-top:72px;margin-bottom:72px}

	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">ZYH学习网站</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse navbar-static-top" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="{%block indexactive%}{%endblock indexactive%}"><a href="{%url 'index'%}">首页<span class="sr-only">(current)</span></a></li>
				<li class="{%block blogactive%}{%endblock blogactive%}"><a href="{%url 'blog:allblogs'%}">博客</a></li>
				  <li class="{%block wenkuactive%}{%endblock wenkuactive%}"><a href="{%url 'wenku:wenkuindex'%}">文库下载</a></li>
		      	<li class="{%block musicactive%}{%endblock musicactive%}"><a href="{%url 'music:mindex'%}">音乐下载</a></li>
			  </ul>
			{%if user.is_authenticated%}
				<form action="{%url 'loginout'%}?from={{request.get_full_path}}" method="post" class="navbar-form navbar-left pull-right">
					{%csrf_token%}
		        <div class="form-group">
		          <span style="font-size: 20px;color: white">欢迎{{user}}~~</span>
		        </div>
				{%if user.is_superuser and user.is_staff%}
					<a class="btn btn-default" href="{%url 'admin:index'%}" target="_blank">后台管理</a>
				{%endif%}
		        <button type="submit" class="btn btn-default">注销</button>
		      </form>
				{%else%}
				<form action="{%url 'register'%}?from={{request.get_full_path}}" class="navbar-form navbar-left pull-right" method="get">
		    <a href="{%url 'register'%}?from=" target="_self" class="btn btn-default">注册</a>
			 </form>
			 <form action="{%url 'login'%}?from={{request.get_full_path}}" class="navbar-form navbar-left pull-right" method="get">
				 <a href="{%url 'login'%}?from=" target="_self" class="btn btn-default">登录</a>
			 	</form>
				{%endif%}
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	{#上下不要动这里面填写相关的页面代码#}

		{%block content%}

    	{%endblock content%}

	{#上下不要动这里面填写相关的页面代码#}
	<div style="height:90px">

	</div>
<div class="col-sm-5 col-sm-offset-4">
		<p class="footer1"> Copyright©2020 zyhzone.cn 版权所有  |  <a style="TEXT-DECORATION: none" rel="nofollow" target="_blank" href="http://www.beian.miit.gov.cn/"><font color="#b3b3b3">沪ICP备20024126号-1</font></a></p>

	</div>
<!--	<nav class="navbar navbar-default  navbar-fixed-bottom">-->
<!--		  <div class="container-fluid">-->
<!--		    &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--		    <div class="navbar-header">-->
<!--		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">-->
<!--		        <span class="sr-only"></span>-->
<!--		        <span class="icon-bar"></span>-->
<!--		        <span class="icon-bar"></span>-->
<!--		        <span class="icon-bar"></span>-->
<!--		      </button>-->
<!--		      <span class="navbar-brand">个人联系方式:</span>-->
<!--		    </div>-->

<!--		    &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--		    <div class="collapse navbar-collapse navbar-static-top" id="bs-example-navbar-collapse-2">-->
<!--		      <ul class="nav navbar-nav">-->
<!--		        <li><a>WX号a1790927907 <span class="sr-only">(current)</span></a></li>-->

<!--				<li><a>QQ号1790927907</a></li>-->
<!--		      </ul>-->

<!--		    </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--		  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--		</nav>-->
</body>
	<script type="text/javascript">
		$(function(){
			$('.dianji').bind("click",function(){
				$('.dianji').removeClass("active")
				$(this).addClass("active")
			})
		})
	</script>
	{%block jsextend%}{%endblock jsextend%}
</html>